
.div-a{
 /* 第一个div向左对齐 */
 text-align: left;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 10px; 
}
.div-b{
 /* 第二个div向右对齐 */
 text-align: right;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 10px;
}
/*图片溢出*/
img{
    width: 100%;
    height: auto;
}